/logs
__init__.py
__pycache__/
.vs/
*.pyc
*.pyo
*.pyd
*.log
*.json
Cushions/bin/
Cushions/obj/
Cushions/Platforms/

Skynet Prevention Protocols 104.md
Some Notes.md
The Chat.md
Simple markdown for Upload testing.md
chat reset point on feb 7th 2026.md